header {
  background-color: rgb(52, 52, 52);
}

nav {
  max-width: 1000px;
  margin: 0px auto;
  padding: 0px 20px;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  align-content: center;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: larger;
  padding: 2rem;
  width: 150px;
  display: flex;
  justify-content: center;
}

.active {
  background-color: #444444;
  color: lightblue;
}