.tickets-section__column {
  background-color: #f4f5f7;
  width: 100%;
}

.tickets-section__column .header {
  background-color: #ced0d3;
  text-align: center;
  padding: 10px 0px;
}

.ticket-section__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
}
